.home-container {
    text-align: center;
    padding: 15px;
    margin: 10px;
}

.home-heading {
    text-decoration: underline;
    font-family: serif;
}

.ul-list {
    text-align:left;
    font-weight: bold;
}

.li {
    color: blue;
    font-size:large;
    text-decoration: double;
    text-shadow:  0px 4px 40px rgba(4, 40, 222, 0.16);
}

.li-para {
    color: darkblue;
    font-weight: 100;
    font-display: block;
}

.testimonal-container {
    color: black;
    font-style: italic;
    box-shadow:  0px 4px 40px rgba(4, 40, 222, 0.16);
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: auto;
}