.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.nav-item {
    width: auto;
    border: 2px black solid transparent;
    text-decoration: none;
}

hr {
    width: auto;
    
}